html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#form{
    display: none;
}

#Title {
    text-align: center;
}

.main_job_container {
    display: block;
    margin: 0 auto;
    width: 70%; 
}



.Job_Container {
    border: 2px solid black;
    height: 100px;
    width: 50em;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    border-radius: 40px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 10px;
}

.btn_job{
    border-radius: 40px;
    background: lime;
}

/*.EditJob{
    display: none;
}*/